<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta name="viewport" content="width=device-width" />
     <!-- Favicon and title -->
    {{ if isset .Site.Params "favicon"}}
          <link rel="icon" href={{.Site.Params.favicon}}>
    {{ end }}
    <title>{{ if .IsHome }} Home | {{ else }}{{ if .Page.Title}} {{ .Page.Title}} | {{end}}{{end}}{{.Site.Title}}</title>
    <!-- CSS -->
    <link href="https://unpkg.com/gutenberg-css/dist/themes/oldstyle.min.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
    <link href="/css/syntax.css" rel="stylesheet" />
</head>